{% extends "closedverse_main/layout.html" %}
{% block main-body %}{% load closedverse_user %}
{% user_sidebar request user user.profile 0 True %}
<div class="main-column" id="help">
<div class="post-list-outline">
    <h2 class="label">Where even do I contact you, anyway?</h2>
    <div id="guide" class="help-content">
      <div class="faq">
        <p>Great question! He're an answer!</p>
		
		<h2>Robby</h2>
		<ul>
		<li><a href="{% url "main:user-view" "rwilcox" %}">My account here. I accept all friend requests, feel free to message me</a></li>
		<li>Discord: robertanimations#5702
		</ul>
		<h2>Sorurus</h2>
		<ul>
		<li>Email address: <a href="mailto:srookstool@icloud.com">srookstool@icloud.com</a>
		<li>His account's name here is probably <a href="{% url "main:user-view" "Sorurus" %}">Sorurus</a></li>
		</ul>
        
      </div>
    </div>
  </div>
</div>
{% endblock %}
